body{
    background-color: dimgrey;
}
.page {
    width:800px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}
header>.title, header>.subtitle{
    background: orange;
    color:white;
    text-align: center;
}
header>.title {
    font-size:50px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
}
header>.subtitle{
    margin-top:0;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
    padding-top:20px;
    font-size:22px;
}
header>.lettername {
    margin-top:0;
    text-align:center;
    font-size:12px;
    margin-bottom: 0;
    background: rgb(189, 189, 189);
}
section{
    overflow:hidden;
}
.left {
    float:left;
    width:150px;
    list-style: none;
    margin-top:0;
    margin-left:0;
    margin-right:0;
}
.left>h3 {
    color:white;
    background: red;
    margin-top: 0;
}
.left li {
    color:black;
}
.left li:hover {
    color:rosybrown;
}
.content {
    width:450px;
    padding:15px;
    margin:0;
    background: lightgrey;
    float: left;
}
.content .title{
    background: navy;
    color:white;
    font-size: 25px;
}
.content .artist{
    color:navy;
    font-size: 25px;
}
.content .details{
    color:navy;
    font-size:12px;
}
.right .line1 {
    color:lightgray;
    font-size:18px;
    text-decoration: underline;
    list-style: none;
}
.right .line2 {
    color:orange;
    font-size:18px;
    text-decoration: underline;
    list-style: none;
}
.right .line3 {
    color:brown;  
    font-size:18px;  
    text-decoration: underline;
    list-style: none;
}
.right .ad .type {
    text-decoration: underline;
    font-size:15px;
}
.right .ad p{
    font-size:12px;
}
.footer {
    background: navy;
    color:white;
    font-size:12px;
    text-align: center;
}
